{% if data %}
    <section id="about">
        <article>
            {% for seo in data %}
                <h1 class="text-heading-4 text-heading-3 space-between">{{ seo.title }}</h1>
                <div class="content-static">{{ seo.content|safe }}</div>
            {% endfor %}
        </article>
        <div class="d-flex end-xs end-lg end-sm">
            <div class="form-group">
                <button class="btn-link btn" id="read-more-seo" type="button">
                    Selengkapnya...
                </button>
            </div>
        </div>
    </section>
{% endif %}