.gdn-icon-logo {
    background: url("/static/img/logo/logo-dashboard.png") transparent no-repeat;
    background-position: 50%;
    background-size: 55px 55px;
    padding: 4rem 0;
    width: 190px;
    display: block;
    height: 55px;
    text-indent: -99999px;
    font-size: 0;
}
