{% extends 'layout.html' %}
{% load i18n %}


{#{% block breadcrumbs %}#}
{#    <ul class="breadcrumb">#}
{#        <li>#}
{#            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>#}
{#        </li>#}
{#        <li class="active">{% trans 'Email sent' %}</li>#}
{#    </ul>#}
{#{% endblock %}#}



{% block content_wrapper %}
    {% block title %}{% trans 'Password reset email sent' %} | {{ block.super }}{% endblock %}
    {% block headertext %}{% trans "Email sent" %}{% endblock %}
    {% block content %}
        <div class="gdn-page">
            <div class="container">
                <div class="row center-lg center-sm center-xs">
                    <div class="col-lg-5 col-sm-8 col-xs-12">
                        <p class="text-left text-body-1">
                            {% blocktrans %}
                                Kami telah mengirimkan instruksi untuk memperbaharui password Anda. Anda seharusnya
                                sudah menerimanya.
                            {% endblocktrans %}
                        </p>
                        <p class="text-left text-body-1">
                            {% blocktrans %}
                                Jika Anda tidak menerima email yang dimaksud, periksa kembali alamat email yang Anda
                                input dengan alamat email yang Anda registrasikan atau periksa folder spam Anda.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
