{#<meta name="description" content="{{ SITE_DESC }}">#}
{#<meta property="og:title" content="{{ SHOP_NAME }}">#}
{#<meta property="og:url" content="{{ SCHEME }}{{ request.get_host }}{{ request.path }}">#}
{#<meta property="og:description" content="{{ SITE_DESC }}">#}
{#<meta property="og:image" content="{{ SCHEME }}{{ request.get_host }}{% static IMG_LOGO %}">#}
{#<meta property="og:type" content="website">#}
{#<meta property="og:site_name" content="{{ SHOP_NAME }}">#}
{#<meta property="og:locale" content="ID">#}
{#<meta name="twitter:domain" content="{{ request.get_host }}">#}
{#<meta name="twitter:card" content="summary_large_image">#}
{#<meta name="twitter:site" content="{{ SOCIAL_TWITTER_ACC }}">#}
{#<meta name="twitter:title" content="{{ SHOP_NAME }}">#}
{#<meta name="twitter:description" content="{{ SITE_DESC }}">#}
{#<meta name="twitter:image" content="{{ SCHEME }}{{ request.get_host }}{% static IMG_LOGO %}">#}
{#<meta name="twitter:image:alt" content="{{ SHOP_NAME }}">#}
{#<meta name="twitter:url" content="{{ SCHEME }}{{ request.get_host }}{{ request.path }}">#}
{#<meta name="twitter:creator" content={{ SOCIAL_TWITTER_ACC }}>#}
{#<meta itemprop="name" content="{{ SHOP_NAME }}">#}
{#<meta itemprop="url" content="{{ SCHEME }}{{ request.get_host }}{{ request.path }}">#}
{#<meta itemprop="description" content="{{ SITE_DESC }}">#}
{#<meta itemprop="image" content="{{ SCHEME }}{{ request.get_host }}{% static IMG_LOGO %}">#}
