{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% if data %}
    <section id="mini-banner">
        <div class="gdn-title">
            <h4 class="text-title-3 text-title-4 text-black">
                Pilihan Kami
            </h4>
        </div>
        <div class="row">
            {% for banner_data in data %}
                <article class="col-lg-6 col-sm-6 col-xs-6">
                    <figure>
                        <picture>
                            <a href="{{ banner_data.url }}">
                                <img src="{{ banner_data.get_image }}" alt="{{ banner_data.title }}">
                            </a>
                        </picture>
                    </figure>
                </article>
            {% endfor %}
        </div>
    </section>
{% endif %}
